body{
    margin: 0px;
    font-family: 'Advent Pro', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Ibarra Real Nova', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Secular One', sans-serif;
background-color: #A27B5C;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2C3639;
    top: 50%;
  }
  
  li {
    float: left;
  }
  
  li {
    display: block;
    color: #DCD7C9;
    text-align: center;
    padding: 60px 40px;
    text-decoration: none;
    
  }
  
  li:hover:not(.active) {
    background-color: #3F4E4F;
    cursor: pointer;
  }

  .active {
    background-color: #DCD7C9;
    color: #2C3639;
  }


#content{
    background-color: #A27B5C;
}

.container{
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #2C3639;
}
.container img{
    height: 120px;
    margin:5px;
}
.description{
  background-color: #DCD7C9;
  margin-left: 15%;
  margin-right: 15%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-bottom: 50px;
  
}
.title{
  font-size: 5em;
}
.para{
  font-size: 2em;
  margin-left: 10%;
  margin-right: 10%;
}
.hotCoffeeList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.8em;
}
.description .menu{
  font-size: 3.5em;
  margin-bottom: 50px;
}
.hotCoffee, .icedCoffee, .desert{
  font-size: 2em;
}











/* ---credits---- */
.copyrights{
  align-items: center;
  justify-content: center;
  display: flex;  
  position: fixed;
  color: #DCD7C9;
  left: 0;
  bottom: 0;
  width: 100%;
 
}
.copyrights > div {
  
  margin: 5px;
  font-size: 15px;
  
}
.githubicon {
  transition: transform .25s; /* Animation */
  margin: 0 auto;
}

.githubicon:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
footer{
  grid-column-start: 1;
  grid-column-end:3;
  background-color: #2C3639;
  height: 46px;
}